@CHARSET "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	background-color: #4072B6;
	/* To stop horizontal scrolling*/
	max-width: 100%;
    overflow-x: hidden; 
}
.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}

#templatemo_container {
	width: 1347px;
	height: 700px;
	margin: 0px;
	padding: 0px;
	background: url(images/templatemo_container_bg.png;) repeat;
}
#templatemo_banner {
	width: 1347px;
	height: 150px;
	margin: 0px;
	padding: 0;
    background: url(images/templatemo_banner_bg.jpg) repeat-x;
}
#templatemo_container #templatemo_banner #logo {
	float: left;
	margin: 30px 0 0 280px;
	width: 1500px;
	height: 150px;
	background: url(images/logo.gif)  no-repeat;
}

/*content*/

#login-box {
	width:333px;
	height: 348px;
	padding: 40px 176px 30px 170px;
	color: #ebebeb;
	font: 14px Arial, Helvetica, sans-serif;
	background: url(images/login-box-backg.png) center no-repeat;
}
#login-box h1 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 45px "Calibri", Arial;
}
#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 20px 20px 10px 0;
	margin:0 0 10px 0;
}
#login-box-field {
	float: left;
	display:inline;
	padding: 10px 0px 0 0;
	margin:0 0 10px 0;
}
#login-box-field1 {
	float: left;
	display:inline;
	padding: 10px 0px 10px 0;
	margin:0 0 10px 0;
}
.Login-type{
	clear: both;
	padding: 5px 0px 20px 50px;
	font-size: 12px;	
}
.form-login{
	width: 210px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#ED6947;
	font-size: 16px;
	color: #ebebeb;
}
.login-box-options  {
	clear:both;
	padding-left: 80px;
	padding-top: 5px; 
	padding-bottom: 10px;
}
.login-box-options a {
	color: #ebebeb;
	font-size: 14px;
}
#submit{
	width: 5em;
	height: 2em;
	font: bold 20px "Calibri", Arial;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 1347px;
	padding: 20px 0 20px 0;
	text-align: center;
	border-top: 1px solid #8b8a8b;
	background: #343233 url(images/templatemo_footer.jpg) no-repeat;
}

.footer_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_list li {
	padding: 0 10px;
	display: inline;
	border-right: 1px solid #cccccc;
}

.footer_list li a {
	color: #cccccc;
	text-decoration: none;
}

.footer_list li a:hover {
	color: #fcdd31;
}

#templatemo_footer a{
	color: #cccccc;
	text-decoration: none;
}
/* end of footer */